/node_modules/
/docs/
/deployment-examples/
/test/
/.idea/
/.git/
/.github/
/tmp/
/.DS_Store/
.subscriptionsrc
.gitignore
*.log
*.iml
renovate.json
.eslintrc
.prettierignore
.prettierrc.json
.nyc_output
