{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "nonblock-statement-body-position": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off",
    "max-len": [
      2,
      120
    ],
    "no-restricted-syntax": [
      "error",
      "WithStatement"
    ],
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-unused-expressions": "off",
    "operator-linebreak": "off",
    "no-await-in-loop": "off",
    "prefer-destructuring": "off",
    "no-use-before-define": [ 2, "nofunc" ],
    "no-underscore-dangle": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off"
  }
}
