# Ignore artifacts:
build
coverage
package.json
package-lock.json
.prettierignore
.eslintrc
docs/commercetools-subscription.postman_collection.json
/deployment-examples/aws/k8s/k8s-charts/
/deployment-examples/gcp/k8s/k8s-charts/
